<!-- Página Listagem, Proffys disponíveis para Estudar -->
<!-- aplicação de comentários no html -->
<!-- isso é uma tag <html> -->
<!-- tag <head> ficarão as configurações do documento -->
<!-- tag <body>, fica todo conteúdo visível da página -->
<!DOCTYPE html>
<html lang="pt_br"> <!-- os itens junto com as tags são um atributo, no caso lang -->
<head> 
    <!-- meta s'ao configurações de metadados -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- tag para definir o título da página -->
    <title>Proffy | Sua plataforma de estudos online</title>
    
    <!-- caminho do arquivo style.css para ser aplicado neste arquivo html -->
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/partials/header.css">
    <link rel="stylesheet" href="./styles/partials/forms.css">
    <link rel="stylesheet" href="./styles/partials/page-study.css">
     
    <!-- font de texto que iremos utilizar no projeto
    onde será aplicado ficará definido no style.css
    arquivos são responsáveis por inclusão de arquivos -->
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <!-- <style>
        /*comentários no css
        #bodie -> definindo seletor de hastag no css, mais forte
        .bodie -> definindo classes no css
        bodie -> definindo seletor de tag no css
        */
    </style> -->
</head>
<body id="page-study">
    <!-- <div> possui a representatividade de um container/caixa -->
    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/"><img src="./images/icons/back.svg" alt="Voltar"></a>
                <img src="./images/logo.svg" alt="Proffy">
            </div>

            <div class="header-content">
                <!-- a tag <strong> funciona como a tag padrão de texto, mas ela já vem com o bold, negrito -->
                <strong>Esses são os proffys disponíveis.</strong>
                <!-- tag <form> é para formulários, ela ja solicita para onde será enviado os dados "action" -->
                <form id="search-teachers">
                    <div class="select-block"> <!-- <div> caixa -->
                        <!-- mostra o campo que ela está identificando no <select>, no caso o subject de Matérias -->
                        <label for="subject">Matéria</label>
                        <!-- <select> é o campo onde colocamos as opções, <option> -->
                        <select name="subject" id="subject">
                            <!-- já se encontra desabilitada por padrão, e pede para selecionar uma opção. Toda <option> deve ter um valor "value" -->
                            <option value="" disabled="" hidden="">Selecione uma opção</option>
                            <!-- preenchendo de formulário de filtros, as matérias dos proffys -->
                            {%for subject in subjects%}
                                <option value="{{loop.index}}" {{"selected" if filters.subject == loop.index }}>{{subject}}</option>
                            {%endfor%}
                        </select>
                    </div>

                    <div class="select-block">
                        <label for="weekday">Dia da semana</label>
                        <select name="weekday" id="weekday">
                            <option value="" disabled="" hidden="">Selecione uma opção</option>
                            <!-- preenchendo de formulário de filtros, dias de aulas dos proffys -->
                            {%for weekday in weekdays%}
                                <option value="{{loop.index0}}" {{"selected" if filters.weekday == loop.index0}}>{{weekday}}</option>
                            {%endfor%}
                        </select>
                    </div>

                    <div class="input-block">
                        <label for="time">Hora</label>
                        <!-- a tag <nput> fecha nela mesma (>) ou (/>) -->
                        <input name="time" id="time" type="time" value="{{filters.time}}">
                    </div>
                    <!-- o botão do tipo "submit" vai pegar os dados do formulário e enviará para o back-end, que retornará os dados solicitados -->
                    <button type="submit">Filtrar</button>
                </form>
            </div>
        </header> 
        <!-- <main> conteúdo principal da página -->
        <main>
            <!-- imprimindo os proffys do formulário (proffys) -->
            {%for proffy in proffys%}
                <!-- <article> repete o que tem várias vezes -->
                <article class="teacher-item">
                    <header>
                        <img src="{{proffy.avatar}}" alt="{{proffy.name}}">
                        <div>
                            <strong>{{proffy.name}}</strong>
                            <span>{{proffy.subject}}</span>
                        </div>
                    </header>
                
                    <p>{{proffy.bio}}</p>
                
                    <footer>
                        <p>Preço/hora<strong>R$ {{proffy.cost}}</strong></p>
                        <a href="https://api.whatsapp.com/send?1=pt_BR&phone=55{{proffy.whatsapp}}&text=Olá! Tenho interesse na sua aula de {{proffy.subject}} {{proffy.name}}." class="button" target="_blank">
                            <img src="./images/icons/whatsapp.svg" alt="WhatsApp">Entrar em contato
                        </a>                        
                    </footer>
                </article>
            {%endfor%}                                
        </main>
    </div>
</body>
</html>